@import url(styles.css);
body{
    background-attachment: fixed;
	background-image: linear-gradient(to left, #004e8e, #014684, #013d7b, #013571, #012d68, #012963, #01265f, #01225a, #012159, #012058, #002057, #001f56);
}
.info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
#back {
    text-decoration: none !important;
    color: white;
    position: relative;
    top: 0px;
    left: 0px;
}
.info-item{
    
    width: 220px;
    height: 140PX;
    background-color: white;
    border: 2px dashed rgb(40, 216, 247);
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.info-item h2,h5,h4 {
    margin-bottom: 1.3rem;
    margin-top: 1rem;
}
.info-item:hover {
    padding: 10px;
}
